/* About */
.testimonials {
  font-family: "Inconsolata", monospace;
}
.testimonials > div {
  width: 60%;
  margin: 3rem auto;
  padding: 2rem 2rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.title {
  font-size: 2rem;
  text-align: center;
}
.title span {
  color: var(--main-color);
}
.testimonial {
  text-align: center;
}
.testimonial h3 {
  font-size: 1.5rem;
}
.testimonial h3 span {
  color: rgb(153, 153, 153);
  font-size: 1rem;
}
.testimonial .from {
  margin: 1rem 0;
  color: var(--main-color);
}
.testimonial p:last-child {
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
}

.about {
  width: 90%;
  margin: 2rem auto;
}
.about-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
}
.about-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5rem 0;
  border-radius: 1rem;
  transition: 0.3s;
}
.about-col i {
  font-size: 1.5rem;
  color: var(--main-color);
}
.about-col h2 {
  margin: 1rem 0;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
}
.about-col p {
  width: 70%;
  margin: auto;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
}
.about-col:hover {
  background-color: var(--main-color);
  color: #fff;
}
.about-col:hover * {
  color: #fff;
}

@media screen and (max-width: 766px) {
  .testimonials > div {
    width: 100%;
    padding: 2rem 1rem 1rem;
  }
  .title {
    font-size: 1.6rem;
  }
  .testimonial p:last-child {
    line-height: 1.2rem;
    font-size: 0.9rem;
  }
}
